<div style="border: 1px solid gray; padding: 10px; margin: 10px;">
<p>home works!</p>
<!-- <div class="home-counter">   
    <button (click)="count = count + 1">Increment</button>
    <b> Current Count: {{ count }} </b>
    <button (click)="count = count - 1">Decrement</button>
</div>

<hr/>

<div class="home-counter">   
    <button (click)="handleDecrement()">Decrement</button>    
    <b> Current Count: {{ count2 }} </b>
    <button (click)="handleIncrement()">Increment</button>
</div>

<p><b>Input Counter Value: {{ inputCounter }} </b></p> -->

    <div class="home-counter">   
        <button (click)="handleDecrement()">Decrement</button>    
            <p><b>Input Counter Value: {{ numberData }} </b></p>    
        <button (click)="handleIncrement()">Increment</button>
    </div>
</div>

<ul>
    <li *ngFor="let item of items">{{ item }}</li>
</ul>


<ul>
    <li *ngFor="let user of users">
        {{ user.userName }},  {{ user.street }},  {{ user.mobile }}
    </li>
</ul>

<!-- <div *ngIf="users$ | async as users">
      @for (user2 of users; track user2.id) {
        <p>{{ user2.name }}</p>
      } @empty {
        <p>No items found.</p>
      }
    </div> -->